/*--------------------------------------*\
      Colors
\*--------------------------------------*/

$gray-base: #000;
$gray-darkest: lighten($gray-base, 5%);
$gray-darkerer: lighten($gray-base, 8%);
$gray-darker: lighten($gray-base, 12%);
$gray-dark: lighten($gray-base, 25%);
$gray: lighten($gray-base, 50%);
$gray-light: lighten($gray-base, 70%);
$gray-lighter: lighten($gray-base, 85%);
$gray-lighterer: lighten($gray-base, 94%);
$gray-lightest: lighten($gray-base, 98%);

$light1: rgba(255, 255, 255, 0.1);
$light2: rgba(255, 255, 255, 0.2);
$light3: rgba(255, 255, 255, 0.3);
$light4: rgba(255, 255, 255, 0.4);
$light5: rgba(255, 255, 255, 0.5);
$light6: rgba(255, 255, 255, 0.6);
$light7: rgba(255, 255, 255, 0.7);
$light8: rgba(255, 255, 255, 0.8);
$light9: rgba(255, 255, 255, 0.9);

$dark1: rgba(0, 0, 0, 0.1);
$dark2: rgba(0, 0, 0, 0.2);
$dark3: rgba(0, 0, 0, 0.3);
$dark4: rgba(0, 0, 0, 0.4);
$dark5: rgba(0, 0, 0, 0.5);
$dark6: rgba(0, 0, 0, 0.6);
$dark7: rgba(0, 0, 0, 0.7);
$dark8: rgba(0, 0, 0, 0.8);
$dark9: rgba(0, 0, 0, 0.9);

$aqua-haze: #f4f8f9;

/*--------------------------------------*\
      Overrides
\*--------------------------------------*/

$aqua: #4cbae2;
$blue: #0074d9;
$navy: #0b4f6c;
$teal: #39cccc;
$green: #20bf55;
$olive: #3d9970;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$silver: #ddd;
$gray: #aaa;
$black: #000;

$space-1: 5px;
$space-2: $space-1 * 2;
$space-3: $space-2 * 2;
$space-4: $space-3 * 2;
$space-5: $space-3 * 3;
$space-6: $space-3 * 4;

// Custom Media Query Variables

$sm: '35em';
$md: '60em';
$lg: '80em';

$breakpoint-sm: '(min-width: #{$sm})';
$breakpoint-md: '(min-width: #{$md})';
$breakpoint-lg: '(min-width: #{$lg})';
