body {
  margin: 0;
  min-width: 350px;
  overflow-x: hidden !important;
  font-family: 'futura';
  background-color: black;
  width: 100vw;
  &.noscroll {
    overflow: hidden;
  }
  &.scrollx {
    overflow-x: visible !important;
  }
}
* {
  outline: none;
}
